  body {
    margin: 1%;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
}
h1 {
font-family: FreeMono, monospace;
}
div.header{
font-family: Courier, monospace;
text-align: center;
vertical-align: middle;
align-items: center;
justify-content: center;
border: thick double #32a1ce;
}
div.footer{
  font-family: Courier, monospace;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border: thick double #32a1ce;
  }
.col-1-3 {
width: 33.3333333333%;
float: left;
font-family: FreeMono, monospace;
text-decoration: yellow;
text-align: center;
vertical-align: middle;
align-items: center;
justify-content: center;
}
.col-2-3 {
  width: 66.6666666667%;
  float: left;
  font-family: 'Courier New', Courier, monospace;
  border-bottom-style: outset;
}