* {
box-sizing: border-box;
}
img {
display: block;
max-width: 100%;
}
body {
margin: 0;
font-family: 'Aleo';
color: var(--primary-color);
font-weight: 400;
font-size: 22px;
line-height: 1.2;
text-align: justify;
}
:root {
--primary-color: #FFFFFF;
--secondary-color: #F2785C;
--third-color: #0D606F;
--content-width: 1200px;
--mobile-padding: 15px;
--gutter: 15px;
}
.wrapper-first{
min-height: 100vh;
background-image: url(/travel/img/bg_main_canada_mount_river_big.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.header{
background: rgba(242, 120, 92, 0.7);
box-shadow: 0 4px rgba(13, 96, 111, 0.5)
}
.container{
padding: 0 15px;
margin: 0 auto;
}
.row {
display: flex;
flex-wrap: wrap;
margin: 0 calc(var(--gutter) * -1);
}
.header_wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-top: 25px;
padding-bottom: 34px;
}
.header_info{
display: flex;
justify-content: space-between;
align-items: center;
}
.header_info_logo{
margin-right: 6px;
}
.header_info_logo_img{
width: 30px;
height: 30px;
}
.header_info-title{
font-family: "Magra";
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
}
.header_navigation{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 42px;
}
.header_menu{
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
}
.header_menu_list{
list-style: none;
color: #FFFFFF;
margin-right: 42px;
}
.header_menu_link{
    font-family: "Red Hat Text";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--primary-color);
    text-decoration: none;
}
.header_login_button_form{
padding: 10px 30px;
border-radius: 10px;
box-shadow: 0 4px rgba(13, 96, 111, 0.16);
}
.first_button{
display: inline-block;
background-color: var(--third-color);
color: var(--primary-color);
font-family: "Red Hat Text";
font-weight: 500;
font-size: 16px;
line-height: 1.3;
text-align: center;
text-decoration: none;
border: 1px solid var(--third-color);
padding: 10px;
border-radius: 10px;
}
.preview{
padding-top: 32px;
padding-bottom: 221px
}
.preview_title{
font-size: 80px;
margin-bottom: 32px;
}
.preview_title-2{
font-size: 20px;
font-style: italic;
margin-bottom: 46px;
}
.preview_form_wrapper{
max-width: 892px;
background-color: rgba(255, 255, 255, 0.7);
border: none;
border-radius: 16px;
padding-top: 18px;
padding-bottom: 18px;
padding-left: 41px;
padding-right: 18px;
}
.preview_form_info{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.preview_form_field{
min-width: 560px;
background-color: transparent;
border: none;
}
.preview_form_field::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    font-style: italic;
    color: var(--secondary-color);
}
.preview_search_form{
font-family: "Red Hat Text";
font-weight: 500;
font-size: 24px;
line-height: 1.3;
border-radius: 10px;
padding: 13px 32px;
}
steps{
background-color: var(--primary-color);
padding-top: 80px;
padding-bottom: 50px;
}
.title_3steps{
font-family: "Red Hat Text";
font-weight: 500;
font-size: 40px;
line-height: 1.3;
color: var(--secondary-color);
text-align: center;
margin-bottom: 40px;
}
.steps_row{
justify-content: space-between;
padding: 0 131px;
}
.steps_block_pic{
margin-bottom: 30px;
padding: 0 73px;
}
.steps_block_link{
font-weight: 400;
font-size: 20px;
line-height: 1.2;
color: var(--third-color);
text-align: center;
text-decoration: none;
}
.steps_row{
justify-content: space-between;
padding: 0 131px;
}